.home-wrapper {
  display: flex;
  color: aliceblue;
}
.main-container {
  flex: 60%;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 80vh;
  border-radius: 5%;
  margin: 5vh 2vw;
}
.welcome {
  color: crimson;
  font-family: monospace;
  padding: 20% 5% 5% 5%;
}
.side-bar {
  flex: 40%;
  justify-content: center;
  background: transparent;
  height: 80vh;
  border-radius: 5%;
  margin: 5vh 2vw;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
input,
button {
  background: transparent;
  border: solid 2px white;
  outline-style: none;
  border-radius: 6px;
  width: 70%;
  margin: 2% auto;
  height: 40px;
  color: azure;
  font-size: 15px;
  font-family: monospace;
}
label {
  display: block;
}
.signup-header {
  margin: 12% 0px;
}
.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.features-links {
  display: flex;
  justify-content: center;
}
.features {
  font-size: 2rem;
  color: brown;
  margin: 0px 3%;
}
.icon {
  color: teal;
}
